.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100% - 125px);
  //
  margin-top: 125px;
  z-index: 1;

  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; // Initially invisible
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0s linear 0.6s;

  &.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s ease;
  }

  .overlay-content {
    text-align: center;
    color: #fff;
  }

  .close-button {
    background-color: #fff;
    color: #000;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
  }
}
