@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.navbar {
  background: transparent;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  position: absolute;
  width: 100%;
  text-align: center;

  &.whitebg {
    background-color: $secondary-white;
  }

  &-logo {
    cursor: pointer;
    text-decoration: none;
    color: $secondary-black;
    &:hover {
      opacity: 0.7;
    }
  }

  &-section {
    display: flex;
  }

  &-hamburger {
    display: flex;
    margin-right: 1rem;

    &__item {
      text-decoration: none;
      color: $secondary-black;
      padding-left: 1rem;
      cursor: pointer;
      &.footer-halfway-visible {
        color: $secondary-white;
      }
      &:hover {
        color: $primary-color;
        opacity: 0.7;
      }
    }
  }
}

.logo-name {
  font-family: "Soulgate";
  font-size: 2rem;
  @include sm-tablet {
    font-size: 3rem;
  }
}

.nav-logo.footer-halfway-visible {
  color: $secondary-white;
}
