@use "../../styles/partials/typography" as *;

.navbar {
  background: transparent;
  position: fixed;
  width: 100vw;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  position: absolute;
  width: 100%;
  text-align: center;

  &-logo {
    cursor: pointer;
    text-decoration: none;
    color: black;
    &:hover {
      opacity: 0.7;
    }
  }

  &-hamburger {
    display: flex;
  }

  &__menu {
    text-decoration: none;
    color: black;
    cursor: pointer;
    &:hover {
      color: red;
      opacity: 0.7;
    }
  }
}

.navbar.footer-halfway-visible {
  .nav-logo {
    color: white; // Change to your desired color
  }
}
