@use "../../styles/partials/variables" as *;

.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 3rem 0;
  margin: 0 3rem;
  background-color: transparent;

  &-left {
    margin: 2rem 0;
  }
  &-right {
    margin: 2rem 0;
    text-align: center;
  }

  &-section {
    margin-bottom: 3rem;
    letter-spacing: 1px;
  }
}

body.halfway-visible {
  background-color: $primary-color;
  color: $secondary-white;
}
.logo-jap.halfway-visible {
  color: $secondary-white;
}
