@use "../../styles/partials/mixins" as *;

.App-header {
  padding: 125px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero {
  margin-bottom: 80px;
  @include tablet {
    margin-bottom: 125px;
    padding: 0 10vw;
    width: 100vw;
  }
  @include desktop {
    padding: 0 15vw;
  }

  &-image {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    @include tablet {
      height: 80vh;
    }
  }

  &__content {
    margin-top: 2rem;
    margin-left: 1rem;
  }
}

.logo-jap {
  font-size: 6rem;
  color: red;
  @include tablet {
    margin: 3rem 0;
  }
}

.section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin: 125px 0 0 0;
  @include tablet {
    padding: 0 10vw;
    width: 100vw;
  }
  @include desktop {
    flex-direction: row;
    padding: 0 15vw;
  }
}

.desc {
  margin-top: 2rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include desktop {
    max-width: 300px;
    margin-right: 8rem;
    padding: 0;
    width: 30%;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__text {
    &-section {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1rem;
    }
    &-title {
      margin-right: 3rem;
      min-width: 4.5rem;
    }
    &-group {
      display: flex;
      flex-direction: column;
    }
    &-hours {
      display: flex;
      margin-bottom: 5px;
      &_day {
        margin-right: 20px;
        min-width: 75px;
      }
    }
  }
}

.gallery {
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include desktop {
      width: 550px;
      height: 550px;
      max-width: 100%;
    }
  }
}
