@use "../../styles/partials/mixins" as *;

.gallery {
  width: 100vw;
  height: 100vw;
  @include tablet {
    height: 80vw;
    width: 100%;
  }
  @include desktop {
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    max-width: 65%;
  }

  &__images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include desktop {
      width: 550px;
      height: 550px;
      max-width: 100%;
    }
  }
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: transparent;
  height: 100%;
  padding: 0 1rem;
  &__left {
    left: 0;
  }
  &__right {
    right: 0;
  }
}
