@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.contact {
  padding: 125px 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &-table {
    width: 100%;
    text-align: left;
  }

  &-header {
    padding-bottom: 6rem;
    margin: 100px 0 0;
    @include sm-tablet {
      margin: 100px 25px 0;
    }
    @include tablet {
      margin: 100px 50px 0;
    }
    @include desktop {
      margin: 100px 150px 0;
    }
  }

  &-form {
    @include sm-tablet {
      margin: 0 25px 50px;
    }
    @include tablet {
      margin: 0 50px 100px;
    }
    @include desktop {
      margin: 0 150px 100px;
    }
  }

  &-item {
    &__th {
      margin-top: 1rem;
    }
    &__td {
      width: 100%;
    }

    &__input {
      width: 100%;
      height: 50px;
    }
    &__textarea {
      width: 100%;
    }
  }

  &__btn {
    width: 100px;
    height: 50px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid $primary-color;
    border-radius: 15px;
    background-color: $secondary-white;
    color: $secondary-black;
    cursor: pointer;
    margin-top: 1rem;
    &:hover {
      background-color: $primary-color;
      color: $secondary-white;
    }
  }
}

td,
th {
  display: block;
  width: 100%;
}
